@import './variables.module.scss';

.filter {
	display: inline-flex;
	flex-direction: column;
	margin: 112px auto 24px auto;

	section {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 16px;
	}

	.mainCategories {
		background-color: $secondary-color;
		border: 6px solid transparent;
		border-radius: 10px;
		box-shadow: $box-shadow-med;
	}

	.subCategories {
		background-color: #fff;
		border: 6px solid $secondary-color;
		border-radius: 0 0 10px 10px;
		box-shadow: $box-shadow-med;
		margin-top: -8px;
		transition: all 0.2s ease-in-out;
		width: auto;
	}

	.filterIcon {
		color: #fff;
		margin-right: 16px;
	}
}
