@import './variables.module.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Alegreya Sans', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	background-color: #ffffff;
}

main {
	margin-top: 82px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	font-family: 'Alegreya SC';
}

h1 {
	font-size: 2em;
}

h3,
h4 {
	margin: 0;
	padding: 16px;
}

p {
	margin: 0;
	padding: 16px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

button {
	border: none;
	border-radius: 4px;
	font-family: 'Alegreya Sans SC';
	font-size: 1em;
	font-weight: bold;
	padding: 8px 16px;

	&:hover {
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}
}

.half-section {
	width: 50%;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

.chip {
	border: 2px solid #fff;
	border-radius: 16px;
	color: #fff;
	display: inline-block;
	font-family: 'Alegreya Sans SC';
	font-weight: bold;
	padding: 8px 16px;
	text-transform: lowercase;

	&:not(:last-child) {
		margin-right: 8px;
	}

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: #fff;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
}

.mapDownloadButtons {
	span {
		font-family: 'Alegreya Sans SC';
		text-transform: lowercase;
		font-weight: 700;
		color: #777;
	}

	button,
	a {
		margin-left: 8px;

		&:first-of-type {
			background-color: #777;
			color: #fff;

			&:hover {
				background-color: #333;
			}
		}

		&:last-of-type {
			background-color: $primary-color;
			color: #fff;

			&:hover {
				background-color: $secondary-color;
			}
		}
	}
}
