html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.half-section {
	width: 50%;
}

.hero-cta {
	background-color: #999;
	color: #fff;
	display: inline-block;
	font-size: 1.2em;
	margin-top: 24px;
	padding: 16px 24px;
}

.main-container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}
