html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Alegreya Sans', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	background-color: #ffffff;
}

main {
	margin-top: 82px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: 'Alegreya SC';
}

h3 {
	margin: 0;
	padding: 16px;
}

p {
	margin: 0;
	padding: 16px;
}

.half-section {
	width: 50%;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}
