@import './variables.module.scss';

.mapContainer {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	width: 100%;

	.mapMainSection {
		display: flex;
		align-items: center;
		justify-content: center;

		&.firstMap {
			margin-left: auto;
		}

		&.lastMap {
			margin-right: auto;
		}
	}
}

.mapNavigation {
	align-items: center;
	color: $primary-color;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: calc(320px / 2);

	&:hover {
		color: $secondary-color;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}
}

.map {
	position: relative;
	max-width: 1080px;
	width: 100%;

	img {
		border-radius: 48px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		display: block;
		object-fit: contain;
		margin: 0 auto;
		width: 100%;
	}
}

.heading {
	font-size: 3em;
	text-align: center;
}

.mapMetadata {
	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 1080px;
	padding: 16px;
	width: 100%;

	.mapCategories {
		span {
			color: $secondary-color;
			border-color: $secondary-color;

			&:hover {
				color: #fff;
				background-color: $secondary-color;
			}
		}
	}

	.mapDate {
		span {
			font-family: 'Alegreya Sans SC';
			text-transform: lowercase;
			font-weight: 700;
			color: #777;
		}
	}
}

.mapContent {
	max-width: 1080px;
	margin-bottom: 64px;
	width: 100%;

	p {
		font-size: 1.4em;
		padding: 16px;
	}

	.mapLore {
		font-family: 'Alegreya';
		font-style: italic;
		border-radius: 8px;
	}

	.mapNote {
		background-color: #ddd;
	}
}
