@import 'variables.module.scss';

.mapsViewContainer {
	flex-direction: row;
	height: calc(100vh - 81px - 64px);
	overflow-y: hidden;
}

.smallView {
	background-color: #eee;
	height: 100%;
	overflow-y: scroll; // https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
	padding: 16px;
	width: 20%;

	li {
		margin-bottom: 16px;

		&:hover {
			color: $primary-color;
			cursor: pointer;
			transition: all 0.1s ease-in-out;

			img {
				border-color: $primary-color;
				transition: all 0.1s ease-in-out;
			}
		}

		&.active {
			h3 {
				color: $secondary-color;
			}

			img {
				border-color: $secondary-color;
			}
		}
	}

	h3 {
		padding: 0;
		text-align: center;
	}

	img {
		border: 3px solid #fff;
		border-radius: 16px;
		box-shadow: $box-shadow-med;
		object-fit: cover;
		transition: 0.3s all;
		width: 100%;
	}
}

.bigView {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 80%;

	.interactive {
		align-items: center;
		background-color: #eee;
		display: flex;
		padding: 16px;
		width: 100%;
	}

	.viewButton {
		background-color: $secondary-color;
		color: #fff;

		&:hover {
			background-color: $primary-color;
		}
	}

	.bigImageTitle {
		flex: 1 1 auto;
		margin: 0;
		text-align: center;
	}

	.bigImageContainer {
		height: 100%;
		margin: 24px;
		position: relative;
		width: 100%;
	}
}
